.choice-container {
  display: flex;
  font-size: 1.8rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #1a92fa;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #23df12;
}
.incorrect {
  background-color: #f10e0e;
  
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix{
  font-size: 2rem;
  text-align: center;
}

.hud-main-text{
  text-align: center;
}



#loader{
  border: 1.2rem solid white;
  border-radius: 50%;
  border-top: 1.2rem solid #1a92fa;
  height: 10rem;
  width: 10rem;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}